<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='output.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='fontawesome/css/all.css')}}">
</head>
<body class="bg-darkBlue">
    {% include 'nav.html'%}
    {%block content %}
    {% endblock%}

    <script src="{{url_for('static',filename='fontawesome/js/all.js')}}"></script>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>